body {
    background-color:rgb(237, 235, 235);
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    color: rgb(131, 28, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: rgb(131, 28, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.role-text {
    color: rgb(131, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:800
}

p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-wrapper {
    background-image:linear-gradient(rgba(211, 209, 209, 0.788), rgba(4, 3, 3, 0.5)), url(./Images/background\ image.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% auto;
}

.container2 {
    padding-top: 100px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 70px;
    gap: 30px;
}

svg {
    color:black ;
    height: 50px;
    width: 50px;
}

.grid-text {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-button {
    padding: 20px;
    background-color:rgb(131, 28, 28);
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

.contact-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container5 {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(131, 28, 28);
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.socials {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.copyright {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

.copyright-wrapper {
    padding-top: 30px;
}

@media(max-width:650px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
   
    h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

    .role-text {
    color: rgb(131, 28, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight:800
    
}

   p {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

   .grid-text {
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

   .hero-wrapper {
    max-width: 90%;
   }
   .contact-section {
    max-width: 90%;
   }
}